
@using BookStore.Data
@model BookStore_Inspiration.ViewModels.Product.Home.AllProductsHomeViewModel

@{
    ViewData["Title"] = "Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var userName = @User.Identity.Name;

}
<h1>Книги</h1>

@*<iframe src="https://www.bookrix.com/book.html?bookID=hanax1_1362072616.7748110294#0,558,110661" width="800" height="600"></iframe>
<iframe src="https://www.bookrix.com/book.html?bookID=booklover96_1292190490.9736299515#0,558,16270" width="800" height="600"></iframe>
<iframe src="https://www.bookrix.com/book.html?bookID=ericthered38_1333495825.6803750992#0,558,92875" width="800" height="600"></iframe>*@

<div id="main" class="col2-left-layout">

    @if (User.IsInRole("User") && User.Identity.IsAuthenticated || User.Identity.IsAuthenticated)
    {

        <hr class="hr-2 bg-primary">
        <div id="products" class="mt-3">
            @for (int i = 0; i < Model.Products.Count; i += 5)
            {
                <div class="products-row row d-flex justify-content-around my-5">
                    @for (int j = i; j < i + 5; j++)
                    {
                        if (j < Model.Products.Count)
                        {
                    <div class="product col-md-2">

                        <h5 class="text-center mt-3">@Model.Products[j].Id</h5>
                        <h5 class="text-center mt-3">@Model.Products[j].Title</h5>
                        <h5 class="text-center mt-3">@Model.Products[j].Author</h5>
                        <h5 class="text-center mt-3">@Model.Products[j].Description</h5>
                        <h5 class="text-center mt-3">@Model.Products[j].ISBN</h5>
                        <h5 class="text-center mt-3">@Model.Products[j].Publishing</h5>
                        <h5 class="text-center mt-3">@Model.Products[j].YearOfPublishing</h5>
                        <h5 class="text-center mt-3">Price: $@Model.Products[j].Price.ToString("F2")</h5>

                        <div class="card-footer d-flex justify-content-around text-center bg-white pl-0 pr-0 pt-0 pb-0">

                            <a asp asp-controller="Orders" asp-action="Create" class="btn btn-primary btn-md"><i></i> Купи</a>

                        </div>
                    </div>
                        }
                        else
                        {
                            <div class="product col-md-2 empty">
                            </div>
                        }
                    }
                </div>
            }
        </div>
    }



</div>



