@model BookStore_Inspiration.ViewModels.DetailsProductViewModel

@{
    ViewData["Title"] = "Детайли за продукта";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0&appId=1792921224187597&autoLogAppEvents=1"></script>

<p class="h3">@Model.Title</p>
<p class="text-muted h6">Номер на продукта: @Model.Id</p>
<div class="row">
    <div class="col-md-4">
        <div class="card-img-top zoom">
            <img width="300" height="350" src="@Model.Picture" alt="@Model.Title">
        </div>
    </div>
    <div class="col-md-4">
        <div>

            <dl>
                <dt>@Html.DisplayNameFor(model => model.Description)</dt>
                <dd>@Html.DisplayFor(model => model.Description)</dd>
                <dt>@Html.DisplayNameFor(model => model.Price)</dt>
                <dd>@Html.DisplayFor(model => model.Price)</dd>
                <dt>@Html.DisplayNameFor(model => model.ISBN)</dt>
                <dd>@Html.DisplayFor(model => model.ISBN)</dd>
                <dt>@Html.DisplayNameFor(model => model.Author)</dt>
                <dd>@Html.DisplayFor(model => model.Author)</dd>
                <dt>@Html.DisplayNameFor(model => model.Publishing)</dt>
                <dd>@Html.DisplayFor(model => model.Publishing)</dd>
            </dl>
        </div>

        <div class="mb-2">
            <a asp-controller="Orders" asp-action="Create" asp-route-id="@Model.Id" asp-route-direct="true" class="btn btn-danger btn-lg btn-block"><i class="far fa-credit-card"></i> Купи</a>
        </div>
        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https://localhost:5001/Product/Details/@Model.Id%2Fdocs%2Fplugins%2F&layout=button_count&size=small&appId=1792921224187597&width=88&height=20" width="88" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

        <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=450&layout=standard&action=like&size=large&show_faces=true&share=true&height=80&appId=1792921224187597" width="450" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>


        <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-width="" data-numposts="5"></div>
    </div>
    @if (@Model.YouTubeLink != "xx")
    {
        <iframe width="560" height="315" src="@Model.YouTubeLink" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
    }

</div>

