@model List<BookStore_Inspiration.ViewModels.Recipient.Receiptclient>

@{
    ViewData["Title"] = "Бележки от продажбите";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Отчетни бележки за покупките на @User.Identity.Name</h1>

<hr class="hr-2 bg-primary w-50">
<div class="">
    @foreach (var r in Model)
    {
        <div class="">
      
                <h4>Клиентски №: @r.UserId</h4>
      
                <h4 class="">Адрес: @(r.Address)</h4>
                <h4 class="">Продукт №: @(r.productId)</h4>
           
                <h4 class=" ">Всичко: @(r.Totalmoney) лев</h4>
                <h4 class="">Метод на плащане: @(r.paymentMethod)</h4>
            <h4 class="">Дата на поръчката: @(r.TimeOfPurchase)</h4>
            <hr class="align-content-lg-end"/>
         
        </div>

  


    }
</div>






