@model List<BookStore_Inspiration.ViewModels.Search.SearchProductViewModel>


@{
    ViewData["Title"] = "Резултат от търсенето";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Резултат от търсенето</h1>



<hr class="hr-2 bg-primary w-50">
<div class="">

    @foreach (var r in Model)
    {
        <div class="">

            <h4>@r.Title</h4>
            <h4>@r.Author</h4>
            <h4>@r.ISBN</h4>
            <h4>@r.Publishing</h4>
            <h4>Търсенето е извършено на @r.DateTimeOfSearch</h4>
            <hr class="align-content-lg-end"/>
        </div>

    }



</div>

