@model IList<BookStore_Inspiration.ViewModels.Genre.GenreViewModel>
@{
    ViewData["Title"] = "Всички Жанрове";
}

<div class="container mobile-fondsize-11 shadow">
    <div class="mobile-fondsize-20 h3 text-muted text-center pb-2">@ViewData["Title"]</div>
    <table class="table table-hover">
        <thead>
            <tr class="row">
                <th scope="col" class="col-1 d-flex justify-content-center">#</th>
                <th scope="col" class="col-3 d-flex justify-content-center">Име</th>
       
                <th scope="col" class="col-4 d-flex justify-content-center"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var genre in Model)
            {
                <tr class="row">
                    <td class="col-1 d-flex justify-content-center">
                        @genre.Id
                    </td>
                    <td class="col-3 d-flex justify-content-center">
                        @genre.Name
                    </td>

                    <td class="col-md-4 d-flex justify-content-around">
                   
                        }
                        else
                        {
                 
                            <div class="mr-2">
                                <a asp-controller="Genre" asp-action="Edit" asp-route-id="@genre.Id" class="btn btn-outline-success btn-sm mobile-fondsize-11">Промени</a>
                            </div>
                            <div class="mr-2">
                                <a asp-controller="Genre" asp-action="Delete" asp-route-id="@genre.Id" class="btn btn-outline-danger btn-sm mobile-fondsize-11">Изтрий</a>
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>